---
import { Image } from 'astro:assets'
import Layout from '../components/layout.astro'
import datesImg from '../images/gallery/HFM_01_11_004ed-bw.png'

import FutureDates from '../components/future-dates.svelte'
---

<Layout title="Dates">
  <div class="mx-auto grid max-w-3xl grid-cols-1 gap-8 lg:grid-cols-2">
    <div class="space-y-8">
      <p>
        Helston Flora Day is celebrated annually on <strong>8th May</strong> in Helston,
        Cornwall, unless 8th May falls on a Sunday or Monday where the event is held
        on the preceding Saturday.
      </p>

      <Image src={datesImg} alt="" class="rounded" />
    </div>
    <div>
      <FutureDates client:load />
    </div>
  </div>
</Layout>
