---
import { Image } from 'astro:assets'
import Layout from '../components/layout.astro'
import datesImg from '../images/website/dates.jpg'

const dates = [
  { year: '2025', date: '8th May', day: 'Thursday' },
  { year: '2026', date: '8th May', day: 'Friday' },
  { year: '2027', date: '8th May', day: 'Saturday' },
  { year: '2028', date: '6th May', day: 'Saturday' },
  { year: '2029', date: '8th May', day: 'Tuesday' },
  { year: '2030', date: '8th May', day: 'Wednesday' },
  { year: '2031', date: '8th May', day: 'Thursday' },
]
---

<Layout title="Dates">
  <div class="mx-auto grid max-w-3xl grid-cols-1 gap-8 lg:grid-cols-2">
    <div class="space-y-8">
      <p>
        Helston Flora Day is celebrated annually on <strong>8th May</strong> in Helston,
        Cornwall, unless 8th May falls on a Sunday or Monday where the event is held
        on the preceding Saturday.
      </p>

      <Image src={datesImg} alt="TODO" />
    </div>
    <div>
      {
        dates.map(({ year, date, day }) => (
          <div class="flex items-center space-x-4">
            <div class="flex size-20 items-center justify-center bg-tertiary p-4 text-center font-display text-2xl text-white">
              {year}
            </div>
            <div>
              <span class="text-2xl font-bold">{day}</span>
              <span class="text-base text-tertiary"> {date}</span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
