---
import { Image } from 'astro:assets'
import dance2 from '../images/website/dance2.jpg'
import hal2 from '../images/website/hal2.jpg'
import Layout from '../components/layout.astro'
---

<Layout title="Helston Flora Day | The Official Site">
  <div class="sm:py-14 relative">
    <div class="absolute inset-0 flex">
      <div class="w-2/3 bg-primary"></div>
      <div class="w-1/3 bg-tertiary"></div>
    </div>
    <div class="relative md:container lg:flex">
      <div class="h-80 lg:h-auto lg:w-96">
        <Image src={dance2} alt="TODO" class="h-full object-cover" />
      </div>
      <div
        data-css-title
        class="ml-auto px-16 pb-20 pt-16 text-right font-display text-5xl uppercase leading-tight tracking-wider text-secondary md:text-7xl lg:pb-64 lg:pt-24"
      >
        Helston<br />Flora Day
      </div>
    </div>
  </div>

  <div class="container py-12">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <div>
        <p class="font-display text-3xl uppercase leading-normal">
          Helston, the Cornish market town, where for hundreds of years, the
          townsfolk have celebrated and enjoyed the wonderful tradition that is
          Flora Day.
        </p>
      </div>

      <Image
        src={hal2}
        alt="TODO"
        class="lg:relative lg:z-10 lg:-mt-40 lg:bg-white lg:p-8"
      />

      <p class="leading-relaxed">
        This ancient festival is usually held on 8th May. A spring festival to
        celebrate the end of winter and mark the arrival of the new vitality and
        fertility with the trees and flowers bursting into life. The houses and
        shops of the town are decorated with greenery and floral arrangements to
        express the spirit of renewal.
      </p>

      <p class="leading-relaxed">
        When the big bass drum strikes the first beat of the dance at seven in
        the morning, the spirit of the day is stirred and the celebrations
        commence. Couples dance through the streets, entering selected houses
        and shops to drive out the darkness of winter and bring in the light of
        spring.
      </p>

      <div>
        <a
          href="/"
          class="rounded-2xl bg-primary px-6 py-4 text-secondary shadow-lg"
          >Purchase the Official Guidebook</a
        >
      </div>

      <p class="leading-relaxed">
        The colourful pageant, known as Hal an Tow, tells the history of Helston
        with the participating characters singing about the challenge of the
        Spanish Armada, the English patron saint, St. George and the fight
        between St. Michael and the devil.
      </p>
    </div>
  </div>
</Layout>

<style>
  @keyframes slideAndFadeInFromLeft {
    0% {
      transform: translateX(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  [data-css-title] {
    opacity: 0;
    animation: 1s linear 300ms 1 slideAndFadeInFromLeft forwards;
  }
</style>
