---
import ExternalLink from '../components/external-link.astro'
import Layout from '../components/layout.astro'
---

<Layout title="On The Day">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div>
      <h2 class="font-display text-3xl">
        Parking, Transport, and Road Closures
      </h2>
      <p class="mt-4 text-justify leading-relaxed">
        Please note that Helston Town Centre will be closed to all non-emergency
        traffic from 05:30-22:00. All Barriers will be manned by qualified
        operatives and we ask that you respect their instructions. We have to
        take this action to ensure your safety.
      </p>
      <h3 class="mt-4 font-display text-2xl">Public Transport</h3>
      <p class="mt-3 text-justify leading-relaxed">
        Details of bus services to Helston can be found at <ExternalLink
          href="https://www.gocornwallbus.co.uk/">GoCornwall Bus</ExternalLink
        >, <ExternalLink href="https://www.firstbus.co.uk/cornwall"
          >First Kernow</ExternalLink
        >,
        <ExternalLink href="https://www.travelinesw.com/"
          >Traveline Southwest</ExternalLink
        >. Temporary bus stops will be outside ATS on Clodgey Lane and on the
        A394 at St. Johns. There will be Taxi ranks on Trengrouse Way and on the
        A394 at St. Johns.
      </p>
      <h3 class="mt-4 font-display text-2xl">Car Parks</h3>
      <p class="mt-3 text-justify leading-relaxed">
        There is plenty of parking on Flora Day — as extra car parks are added
        just for the day at Helston Rugby Club and Helston Show Ground. Parking
        is also available at the Helston Branch of Tesco, but this must be
        prebooked with the store. While many roads do not have parking
        restrictions, visitors are asked to park considerately in such areas and
        not to block entrances or to impede potential access requirements by
        emergency vehicles.
      </p>
    </div>
    <iframe
      src="https://www.google.com/maps/d/embed?mid=1HDlMcWU8XDxgOIzSzqCA5w6lD0wh1JAN&ehbc=2E312F"
      width="640"
      height="480"
      class="max-w-full"></iframe>
  </div>

  <h2 class="mt-8 font-display text-3xl">Cash Points</h2>
  <p class="mt-4 text-justify leading-relaxed">
    Visitors should note that following the closure of all banks in Helston,
    there is only one cash point in the town centre, at JJ News on Coinagehall
    Street. Others may be found at Spar (Meneage Road), Texaco Garage, Tesco and
    Sainsbury's (all on Clodgey Lane). Some charge for withdrawals.
  </p>

  <h2 class="mt-8 font-display text-3xl">Safety</h2>
  <p class="mt-4 text-justify leading-relaxed">
    The Helston Flora Day Stewards take your safety very seriously, and ask that
    you please note the following.
  </p>
  <p class="mt-4 text-justify leading-relaxed">
    Please do as the Stewards request: Certain areas can become quite congested,
    particularly around the Guildhall at the start and end of the dances. We
    need space for the Band to play and dancers to dance; please cooperate with
    us if we ask you to move back. Without the space, the dances cannot happen!
  </p>

  <div class="mt-8 md:columns-2 md:gap-8">
    <div class="mb-8 md:mb-4">
      <h3 class="font-display text-2xl">Lost Children or Vulnerable Adults</h3>
      <p class="mt-3 text-justify leading-relaxed">
        Helston can become very crowded on Flora Day. Please take very close
        care of children and vulnerable adults. It is suggested that they carry
        a contact number for their parent, guardian, or assistant (a wristband
        is ideal for this purpose). Should you be unable to locate a missing
        child or vulnerable adult, please notify a Steward or member of the
        police.
      </p>
      <p class="mt-3 text-justify leading-relaxed">
        Lost Children Collection Point: The Flora Day Association Event Control
        Room, beneath the Guildhall, adjacent to Henlys. This will be manned
        from 6.00 a.m. until 8.00 p.m. and will have ability to contact the
        emergency services if required.
      </p>
    </div>

    <div class="mb-8 inline-block md:mb-4">
      <h3 class="font-display text-2xl">
        Uneven Surfaces, Viewing Areas, and Kennels
      </h3>
      <p class="mt-3 text-justify leading-relaxed">
        Flora Day occurs throughout the length and breadth of Helston, which has
        many uneven surfaces, that could also become slippery when wet. Please
        only view the dance from a position that is safe to do so and please
        take care, particularly on cobbled surfaces and near kerbs of pavements.
        In addition, Helston is famous for its street-side “Kennels” — water
        channels running along the edges of several streets. Although the water
        is turned off for Flora Day, visitors are asked to be aware of their
        presence, particularly in Coinagehall and Church Streets. Although it is
        possible in some areas, you are advised not to climb on walls to gain a
        viewing vantage point.
      </p>
    </div>

    <div class="mb-8 md:mb-4">
      <h3 class="font-display text-2xl">Personal belongings</h3>
      <p class="mt-3 text-justify leading-relaxed">
        Please ensure you take care of your possessions at all times, and do not
        leave bags unattended. Any suspicious articles should be reported to a
        Steward or the police.
      </p>
    </div>

    <div class="mb-8 md:mb-4">
      <h3 class="font-display text-2xl">First Aid</h3>
      <p class="mt-3 text-justify leading-relaxed">
        St John's personnel are mobile throughout the Town, and ambulances are
        in attendance. Please contact the Flora Day Booklet stall (beside the
        Guildhall) for further information. First Aid Points are based at
        Coronation Park and beside the Museum.
      </p>
    </div>

    <div class="mb-8 md:mb-4">
      <h3 class="font-display text-2xl">Dogs</h3>
      <p class="mt-3 text-justify leading-relaxed">
        Dog owners are advised that Helston can become very crowded,
        particularly in the centre during the Midday Dance, which might be
        frightening for dogs. Dogs should be kept on leads, and under close
        control at all times. Please respect people who might be nervous of dogs
        around them, and ensure that all dog poo is picked up and disposed of
        correctly.
      </p>
    </div>

    <div>
      <h3 class="font-display text-2xl">Further Information</h3>
      <p class="mt-3 leading-relaxed">
        Please visit <ExternalLink
          href="https://www.facebook.com/profile.php?id=100010576779892"
          >Facebook</ExternalLink
        > and <ExternalLink href="https://www.instagram.com/helstonfloraday/"
          >@HelstonFloraDay on Instagram</ExternalLink
        > for further information.
      </p>
    </div>
  </div>
</Layout>
