---
import ExternalLink from './external-link.astro'
---

<div class="text-center">
  For more photos and videos of the day, see our <ExternalLink
    href="https://www.facebook.com/Helstonfloradayassociation/"
    >Facebook</ExternalLink
  > and <ExternalLink href="https://www.instagram.com/HELSTONFLORADAY/"
    >Instagram</ExternalLink
  > pages.
</div>
