<header
  class="sticky top-0 z-30 border-b border-black/20 bg-primary py-1 shadow-md"
>
  <div class="container flex items-center justify-between">
    <a href="/" class="font-display text-2xl text-secondary">
      Helston Flora Day
    </a>
    <nav class="relative">
      <button class="text-white opacity-70 md:hidden" data-menu-button
        >Menu</button
      >
      <ul
        data-menu
        class="absolute right-0 hidden w-60 bg-quaternary font-bold text-white md:relative md:flex md:w-auto md:items-center md:bg-transparent md:text-sm"
      >
        {
          [
            { href: '/dates', title: 'Dates' },
            { href: '/the-dances', title: 'The Dances' },
            { href: '/on-the-day', title: 'On The Day' },
            { href: '/official-guide', title: 'Official Guide' },
            { href: '/gallery', title: 'Gallery' },
            { href: '/contact', title: 'Contact' },
          ].map(({ href, title }) => (
            <li>
              <a
                href={href}
                class="block p-3"
                class:list={
                  Astro.url.pathname === href
                    ? 'text-secondary'
                    : 'md:opacity-70'
                }
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  const menuButton = document.querySelector('[data-menu-button]')
  const menu = document.querySelector('[data-menu]')

  menuButton?.addEventListener('click', () => {
    menu?.classList.toggle('hidden')
  })
</script>
