---
import '@fontsource/oswald'
import '@fontsource/open-sans'
import Header from '../components/header.astro'
import FacebookIcon from './facebook-icon.astro'
import InstagramIcon from './instagram-icon.astro'

const { title: pageTitle } = Astro.props

const title = pageTitle
  ? pageTitle + ' | Helston Flora Day'
  : 'Helston Flora Day | The Official Site'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script
      defer
      src="https://celadon-seriema.pikapod.net/script.js"
      data-website-id="605cf37f-33df-42a8-9fd9-351295db051b"
      data-domains="helston-flora-day.netlify.app"></script>
  </head>
  <body class="bg-primary text-lg font-medium text-neutral-700">
    <Header />
    <main class="bg-white bg-[url('/bg.png')]">
      <slot name="title">
        <h1
          class="border-b border-neutral-800 bg-primary py-14 text-center font-display text-6xl text-secondary"
        >
          {pageTitle}
        </h1>
      </slot>

      <div class="container py-12">
        <slot />
      </div>
    </main>

    <footer class="border-t border-neutral-800 bg-primary py-8">
      <div class="container text-center font-bold text-white">
        <div class="flex justify-center gap-16">
          <a
            class="flex flex-col items-center gap-2 hover:text-secondary"
            target="_blank"
            href="https://www.facebook.com/Helstonfloradayassociation/"
          >
            <span class="block size-12"><FacebookIcon /></span>
            <span>Facebook</span>
          </a>
          <a
            class="flex flex-col items-center gap-2 hover:text-secondary"
            target="_blank"
            href="https://www.instagram.com/HELSTONFLORADAY/"
          >
            <span class="block size-12"><InstagramIcon /></span>
            <span>Instagram</span>
          </a>
        </div>
        <div class="mt-8 text-secondary">
          Copyright Helston Flora Day Association
        </div>
      </div>
    </footer>
  </body>
</html>
